.header {
    position: sticky;
    top: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 80%;
    border-radius: 0.75rem;
}



.headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
}